/* Header================================= */

header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    /* filter: blur(60%); */
    backdrop-filter: blur(60%);
    -webkit-backdrop-filter: blur(60%);
}
.hdr-info{
    padding: 26px 50px;
    position: relative;
    font-size: 18px;
    background: transparent;
}
.hdr-top-left>svg{
    padding-right: 6px;
}
.hdr-top-left>a{
    padding-right: 20px;
}
.hdr-top-center{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.hdr-top-right{
    display: flex;
    gap: 30px;
}
.hdr-top-right>a{
    text-transform: capitalize;
}


.hdr-main{
    padding: 0px 50px;
    position: relative;
    font-size: 18px;
    position: relative;
    border-block: 1px solid rgba(255,255,255,25%);
    background: transparent;
}
.hdr-main>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar-nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.brand-logo{
    padding-block: 35px;
    padding-right :178px; ;
    border-right: 1px solid rgba(255,255,255,25%);
}
.navbar-nav{
    gap: 30px;
}
.nav-link{
    padding-block: 40px;
    color:#fff !important;
}
.nav-icons{
    gap: 0;
}
.nav-icons>a{
    padding:35px;
    border-left: 1px solid rgba(255,255,255,25%);
}

/* Banner ================================== */
.banner{
    min-height: 704px;
    position: relative;
    background: url(../assets/images/accont/accountBnr.png) no-repeat center / cover;
}
.bnr-desc{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.bnr-desc h1{
    max-width: 1008px;
    line-height: 0.8;
    margin-bottom: 50px;
}


.bnr-link {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
    font-size: 20px;
}
.active-link{
    color: var(--theme-color);
}
.active-link::before{
    content: "";
    position: absolute;
    left: 64px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: var(--theme-color);
}
.bnr-left-dsgn{
    width: clamp(70px, 20vw, 163px);
    height: 63px;
    position: absolute;
    bottom: 35px;
    left: 0px; 
}
.bnr-right-dsgn{
    width: clamp(120px, 30vw, 357px);
    height: 179px;
    position: absolute;
    bottom: 100px;
    right: -50px;
}
.bnr-left-dsgn>img,.bnr-right-dsgn>img{
    width: 100%;height: 100%;
    object-fit: contain;
}

/* auth-sec========================== */
.auth-sec {
  position: relative;
  padding: 60px 0;
}

.auth-box {
  max-width: 425px;
}

.auth-box > .title3 {
  margin-bottom: 50px;
}

.auth-label {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  opacity: 50%;
}

.auth-label span {
  color: red;
}

/* INPUTS */
.input-group{
    margin-bottom: 40px;
}
.auth-box input {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px;
  margin-bottom: 22px;
}

.auth-box input::placeholder {
  color: #bbb;
  font-size: 15px;
}

/* PASSWORD FIELD */
.auth-password {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 15px;
  top: 20%;
  opacity: 0.7;
}

/* ROW */
.auth-row {
  margin-bottom: 30px;
}
.checkbox-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    opacity: 50%;
}
.checkbox-inp-group>input[type="checkbox"]{
    width: fit-content;
    margin: inherit;
    margin-right: 15px;
    background:transparent;
    border: 2px solid #ccc;
    outline: none;

}
.remember {
  font-size: 14px;
  color: #ccc;
}

.forgot {
  font-size: 14px;
  color: #ccc;
  text-decoration: underline;
}

/* NOTES */
.auth-note {
  opacity: 50%;
  margin: 50px 0 30px;
  font-weight: 500;
}

.auth-privacy {
  color: #bbb;
  line-height: 1.6;
  margin-bottom: 30px;
}

/* BUTTON */
.auth-btn {
  display: inline-flex;
  align-items: center;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 16px 28px;
  font-size: 18px;
}

.auth-btn .btn-arrow {
  background: var(--primary-color);
  color: #000;
  margin-left: 16px;
  padding: 12px 14px;
}
.auth-right-pattern{
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    max-height: 340px;
    width:clamp(180px,20.79vw,384px);
    z-index: -1;
}
.auth-left-pattern{
    content: "";
    position: absolute;
    bottom: -33%;
    left: -93px;
    transform: rotate(130deg);
    max-height: 340px;
    width:clamp(180px,20vw,384px);
    z-index: -1;
}
.auth-left-pattern>img ,.auth-right-pattern>img{
    width: 100px;height: 100%;
    object-fit: cover;
}
/* RESPONSIVE */
@media (max-width: 992px) {
  .auth-box {
    margin-bottom: 60px;
  }
}

.footer-sec {
 padding-top: 60px;
}

/* NEWSLETTER */
.newsletter-sec {
  padding: 60px 0 100px;
}

.newsletter-subtitle {
  color: var(--theme-color);
  /* display: inline-flex; */
  align-items: center;
  font-size: 16px;
  font-weight:700;
  margin-bottom: 30px;
}

.newsletter-wrap> .title2 {
  margin: 0 auto;
  margin-bottom: 90px;
  max-width: 363px;
  
}

.newsletter-form {
  max-width: 653px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.newsletter-form input {
  flex: 1;
  background: transparent;
  border: none;
  color: #fff;
  padding: 12px 0;
}

.newsletter-form input::placeholder {
  color: #ffffff;
}

.newsletter-form button {
  background: none;
  border: none;
  color: #fff;
  letter-spacing: 1px;
}

/* FOOTER MAIN */
.footer-main>.container {
  padding: 60px 0;
  border-block: 1px solid rgba(255,255,255,0.2);
}
.footer-brand{max-width: 400px;padding: 0 12px;}
/* LOGO */
.footer-logo {
  margin-bottom: 50px;
}

.footer-logo span {
  color: var(--primary-color);
}

.footer-text {
  color: #ffffff;
  opacity: 50%;
  margin-bottom: 50px;
}

.footer-phone{
  display: flex;
  align-items: center;
}
.phone-number {
  font-size: 18px;
}
.phone-logo{
  margin-right: 14px;
}
.phone-label {
  color: var(--theme-color);
  font-size: 10px;
  margin-top: 10px;
}

/* COLUMNS */
.footer-heading {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  width: fit-content;
}
.footer-heading::after{
  content: "";
  position: absolute;
  top: 50%;right: -15px;
  transform: translateY(-30%);
  width: 10px;
  height: 10px;
  background: var(--theme-color);
}


.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding: 10px 0 15px;
  color: #ffffff;
  font-size: 19px;
}

.footer-main .footer-col{
  padding-inline: 30px;
}

/* CONTACT */
.footer-contact {
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-email {
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-phone2 {
  color: var(--theme-color);
  margin-bottom: 30px;
}

/* SOCIAL */
.footer-social {
  display: flex;
  gap: 10px;
}

.footer-social a {
  width: 44px;
  height: 44px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social a i{
  color: #fff;
}
.footer-social a:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.copywrite{
  padding-block: 30px;
  width: fit-content;
  margin: 0 auto;
  font-size: 16px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .footer-main .row > div {
    margin-bottom: 40px;
  }

  .newsletter-title {
    font-size: 30px;
  }
}
