header{
    position: absolute;
    inset: 0;
    z-index: 999;
    /* filter: blur(60%); */
    backdrop-filter: blur(60%);
    -webkit-backdrop-filter: blur(60%);
}
.hdr-info{
    padding: 26px 50px;
    position: relative;
    font-size: 18px;
    background: transparent;
}
.hdr-top-left>svg{
    padding-right: 6px;
}
.hdr-top-left>a{
    padding-right: 20px;
}
.hdr-top-center{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.hdr-top-right{
    display: flex;
    gap: 30px;
}
.hdr-top-right>a{
    text-transform: capitalize;
}


.hdr-main{
    padding: 0px 50px;
    position: relative;
    font-size: 18px;
    position: relative;
    border-block: 1px solid rgba(255,255,255,25%);
    background: transparent;
}
.hdr-main>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar-nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.brand-logo{
    padding-block: 40px;
    padding-right :178px; ;
    border-right: 1px solid rgba(255,255,255,25%);
}
.navbar-nav{
    gap: 30px;
}
.nav-link{
    color:#fff !important;
}
.nav-icons{
    gap: 0;
}
.nav-icons>a{
    padding:35px;
    border-left: 1px solid rgba(255,255,255,25%);
}

.banner{
    min-height: 850px;
    position: relative;
    background: url(../assets/images/banner.png) no-repeat center ;
}
.bnr-desc{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.bnr-desc h1{
    line-height: 0.8;
    margin-bottom: 50px;
}
.bnr-desc h1>span{
    color:var(--theme-color) ;
}
/* .bnr-desc h1>span:nth-child(2){
    mask-image: linear-gradient(to top, transparent, black);
    -webkit-mask-image: linear-gradient(to top, transparent, black);
} */
.bnr-desc p{
    color: var(--theme-color);
    margin-bottom: 60px;
}
.bnr-left-dsgn{
    width: 163px;
    height: 63px;
    position: absolute;
    bottom: 0px;
    left: 0px; 
}
.bnr-right-dsgn{
    width: 357px;
    height: 179px;
    position: absolute;
    bottom: 100px;
    right: -50px;
}
.bnr-left-dsgn>img,.bnr-right-dsgn>img{
    width: 100%;height: 100%;
    object-fit: contain;
}