header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    /* filter: blur(60%); */
    backdrop-filter: blur(60%);
    -webkit-backdrop-filter: blur(60%);
}
.hdr-info{
    padding: 26px 50px;
    position: relative;
    font-size: 18px;
    background: transparent;
}
.hdr-top-left>svg{
    padding-right: 6px;
}
.hdr-top-left>a{
    padding-right: 20px;
}
.hdr-top-center{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.hdr-top-right{
    display: flex;
    gap: 30px;
}
.hdr-top-right>a{
    text-transform: capitalize;
}


.hdr-main{
    padding: 0px 50px;
    position: relative;
    font-size: 18px;
    position: relative;
    border-block: 1px solid rgba(255,255,255,25%);
    background: transparent;
}
.hdr-main>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar-nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.brand-logo{
    padding-block: 35px;
    padding-right :178px; ;
    border-right: 1px solid rgba(255,255,255,25%);
}
.navbar-nav{
    gap: 30px;
}
.nav-link{
    padding-block: 40px;
    color:#fff !important;
}
.nav-icons{
    gap: 0;
}
.nav-icons>a{
    padding:35px;
    border-left: 1px solid rgba(255,255,255,25%);
}

.banner{
    min-height: 850px;
    position: relative;
    background: url(../assets/images/home/banner.png) no-repeat center ;
}
.bnr-desc{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.bnr-desc h1{
    max-width: 1008px;
    line-height: 0.8;
    margin-bottom: 50px;
}
.bnr-desc h1>span{
    color:var(--theme-color) ;
}
.bnr-desc h1>span:nth-child(2){
   background: linear-gradient(to top, #ffffff, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-top: -10px;
}

.bnr-desc p{
    color: var(--theme-color);
    margin-bottom: 60px;
}
.bnr-left-dsgn{
    width: clamp(70px, 20vw, 163px);
    height: 63px;
    position: absolute;
    bottom: 35px;
    left: 0px; 
}
.bnr-right-dsgn{
    width: clamp(120px, 30vw, 357px);
    height: 179px;
    position: absolute;
    bottom: 100px;
    right: -50px;
}
.bnr-left-dsgn>img,.bnr-right-dsgn>img{
    width: 100%;height: 100%;
    object-fit: contain;
}


/* STORY SECTION ====================================*/
.story-sec {
  padding: 60px 0;
}

/* LEFT IMAGE */
.story-img-wrap {
  position: relative;
  width: 50%;
  height: 100%;
  max-height: 700px;
  background: url("../assets/images/storyBg.jpg") no-repeat center / cover;
  /* background: red; */
  min-height: 550px;
}

.story-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit:contain;
}
.overlapImg{
position: absolute;
top: 0;
right: 0;
}
/* QUOTE */
.story-quote {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #e3b956;
  color: #000;
  padding: 40px;
  max-width: 320px;
  z-index: 100;
}

/* RIGHT CONTENT FULL WIDTH but centered */
.story-content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}

/* This recreates container spacing on right side */
.story-inner {
 
  margin-left: 80px;
}

/* Responsive */
@media (max-width: 992px) {
  .story-inner {
    margin: 60px 20px;
  }

  .story-quote {
    right: 20px;
    bottom: 20px;
  }
}



/* BRAND INTRO SECTION ===================================*/
.brand-intro-sec {
  padding-block: 60px;
  text-align: center;
}



.years-number {
  font-size: 192px;
  color: var(--theme-color);
  position: relative;
  top: 55px;
}

.years-text:first-child {
  font-size: 50px;
  line-height: 1.78;
}
.years-text:last-child{
   font-size: 40px;
   margin-top:-10px ; 
} 

.brand-statement {
  margin: 30px auto;
  font-size: 48px;
  font-weight:300;
  background: linear-gradient(to right, #eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}



/* WORK PROCESS SECTION */
.work-process-sec {
  position: relative;
  padding: 60px 0;
}



.subtitle2::before {
content:"";
  width: 10px;
  height: 10px;
  background: var(--theme-color);
  display: inline-block;
  margin-right: 10px;
}

.process-title {
margin-top: 30px;
max-width: 635px;
}


/* VERTICAL LINE */
/* .process-timeline::before {
  content: "";
  position: absolute;
  left: 90px;
  top: 0;
  bottom: 0;
  width: 1px;
  background: rgba(255,255,255,0.2);
} */

/* ITEM */
.process-item {
  display: flex;
}


.process-number {
  font-size: 82px;
  color: var(--theme-color);
  min-width: 72px;
  text-align: left;
  font-weight: 300;
  padding-right: 40px;
}



.process-content {
  padding-left: 40px;
  padding-bottom: 75px;
  position: relative;
}
.process-content::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 10px;
    width: 10px;
    height: 10px;
    background: var(--theme-color);
}
.process-content::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 16px;
    bottom: 0;
    width: 1px;
    background: #fff;
}
.process-content h2 {
  margin-bottom: 30px;
}

.process-content p {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.75;
  max-width: 420px;
  opacity: 50%;
}

.work-process-sec-pattern{
  width: clamp(120px, 30vw, 357px);
  position: absolute;
  left: 0;
  bottom: 190px;
}
.work-process-sec-pattern>img{
  width: 100%;height: 100%;
    object-fit: contain;
}

/* service-strip-sec======================== */

.service-strip-sec {
  padding: 60px 0;
}

.service-strip-item {
  padding: 20px 10px;
}

/* Title with gold line */
.service-strip-title {
  color: var(--theme-color);
  font-size: 25px;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 60px;
}

.service-strip-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 54px;
  display: inline-block;
  height: 2px;
  background: var(--theme-color);
  transform: translateY(-50%);
}

.service-strip-text {
  
}

/* Desktop width control */
@media (min-width: 992px) {
  .service-strip-sec .row {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* Mobile spacing */
@media (max-width: 768px) {
  .service-strip-item {
    margin-bottom: 20px;
  }
}




/* ABOUT COMPANY ===================================*/
.about-company-sec {
  padding: 60px 0;
  position: relative;
}

.about-left {
  max-width: 660px;
}
.about-img-wrap{
    position: relative;
}
.about-img-wrap > img {
    width: 95%;
    height: auto;
}
.wrapper1::after{
    content: url(../assets/images/aboutAfter1.png);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    max-width: 142px;
}
.wrapper2::after{
  content: url(../assets/images/aboutAfter2.png);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    max-width: 142px;
}
.about-left>p {
  margin-block:50px ;
  color: rgba(255,255,255,0.7);
  line-height: 1.5;
}

/* RIGHT */
.about-right {
  max-width: 660px;
  margin-left: auto;
}

.about-right >h2 {
  margin-top: 30px;
  margin-bottom: 60px;
}



/* THIN FRAME */
.img-frame {
  position: absolute;
  inset: 20px;
  border: 1px solid rgba(255,255,255,0.2);
  pointer-events: none;
}

/* GOLD SHAPES */
.shape {
  position: absolute;
  width: 120px;
  height: 120px;
  background: var(--primary-color);
  border-radius: 0 0 0 120px;
}

.shape-left {
  right: -20px;
  top: 40%;
  transform: translateY(-50%);
}

.shape-right {
  right: -20px;
  bottom: 40px;
}

/* BUTTON */
.about-btn {
  display: inline-flex;
  align-items: center;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}

.about-btn span:first-child {
  padding: 14px 28px;
}

.btn-icon {
  background: var(--primary-color);
  color: #000;
  padding: 14px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-btn:hover {
  border-color: var(--primary-color);
}
.about-sec-pattern{
   width: clamp(110px, 18vw, 260px);
    height: 149px;
    position: absolute;
    bottom: -30px;
    right: -100px;
}
.about-sec-pattern>img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* FEATURED SECTION ===================================*/
.featured-sec {
  padding: 60px 0;
}

/* LEFT INTRO */
.featured-intro {
  max-width: 246px;
}

.featured-intro .subtitle2 {
  margin-bottom: 30px;
}


.featured-intro> .title2 {
  margin-bottom: 25px;
}

.featured-intro>p {
  opacity: 50%;
  margin-bottom: 70px;
  line-height: 1.6;
}

/* ARROWS */
.featured-nav {
  display: flex;
  gap: 20px;
}

.nav-arrow {
  width: 40px;
  height: 20px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 10px;
  display: flex;
    justify-content: center;
    align-items: center;
}




/* PROPERTY CARD ========================*/
.property-card {
  border: 1px solid rgba(255,255,255,0.2);
  padding: 10px;
  padding-bottom: 40px;
  text-align: center;
  height: 100%;
  
  
}

.property-img {
  margin-bottom: 15px;
}

.property-img img {
  width: 100%;
  height: auto;
  display: block;
}

.property-location {
  color: var(--theme-color);
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 700;
}

.property-name {
  font-size: 15px;
  margin-bottom: 5px;
}

.property-desc {
  opacity: 50%;
  margin-bottom: 10px;
  max-width: 292px;
  height: 84px;
  margin: 0 auto;
}

.property-price {
  color: var(--theme-color);
  font-size: 16px;
  margin-bottom: 25px;
}

/* BUTTON */
.property-btn {
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px 20px;
  color: #fff;
  font-size: 13px;
}

.property-btn:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .featured-intro {
    margin-bottom: 60px;
    max-width: 100%;
  }

  .featured-title {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  .property-name {
    font-size: 16px;
  }
}



/* PROJECTS SECTION =======================*/
.projects-sec {
  padding: 60px 0;
}

/* HEADER */
.projects-header {
  margin-bottom: 60px;
}


.projects-header-desc>h2 {
  margin-top: 30px;
  max-width: 460px;
}


/* CARD */
.project-card {
  text-align: center;
}

.project-img {
  margin-bottom: 50px;
}

.project-img img {
  width: 100%;
  height: auto;
  display: block;
}

/* TITLE */
.project-card>.subtitle1 {
  color: var(--theme-color);
  margin-bottom: 10px;
}

/* DESC */
.project-desc {
  margin-bottom: 30px;
}

/* LINK */
.project-link {
  color: var(--theme-color);
  font-size: 15px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
}

.project-link::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background: var(--theme-color);
  margin-top: 15px;
}

.project-link span {
  margin-left: 8px;
}


/* TESTIMONIALS============================== */
.testimonials-sec {
  padding: 60px 0;
  text-align: center;
}

/* Subtitle */
.testimonials-sec .subtitle2 {
  margin-bottom: 30px;
}


/* Heading */
.testimonials-sec .title2 {
  margin-bottom: 44px;
}

/* Description */
.testimonials-desc {
  max-width: 466px;
  margin: 10px auto 25px;
  color: #8D9396;
  line-height: 1.6;
}

/* Slider Layout */
.testimonial-slider {
  gap: 80px;
}

/* Avatar */
.testimonial-avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto 25px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Name */
.testimonial-item > .title3 {
  color: var(--theme-color);
  margin-bottom: 5px;
}


/* Arrows */
.testimonial-arrow {
  width: 60px;
  height: 36px;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-arrow:hover {
  background: var(--primary-color);
  color: #000;
}

/* Responsive */
@media (max-width: 768px) {
  .testimonial-slider {
    gap: 30px;
  }

  .testimonials-title {
    font-size: 30px;
  }

  .testimonial-arrow {
    width: 44px;
    height: 32px;
  }
}





/* BLOG SECTION */
.blog-sec {
  padding: 60px 0;
  position: relative;
  
}

/* HEADER */
.blog-header {
  margin-bottom: 50px;
}

.blog-header>h2 {
  max-width: 380px;
  margin-top: 30px;
}

/* CARD */
.blog-card {
  max-width: 420px;
}

.blog-img {
  margin-bottom: 30px;
}

.blog-img img {
  width: 100%;
  display: block;
}

/* META */
.blog-data{
  max-width: 314px;
}
.blog-date {
  color: var(--theme-color);
  font-size: 14px;
  margin-bottom: 15px;
}

.blog-meta span {
  margin: 0 6px;
}

/* TITLE */
.blog-data> .subtitle1 {
  margin-bottom: 15px;
}

/* DESC */
.blog-desc {
  color: #ffffff98;
  font-size: 10px;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 280px;
}

/* LINK */
.blog-link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  position: relative;
}

.blog-link span {
  margin-left: 6px;
}
.blog-link::after{
  content: "";
  width: 100%;
  height: 1px;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;

}
/* DECORATIVE SHAPE */
.blog-sec-pattern {
  position: absolute;
  right: -40px;
  bottom: -150px;
  width:clamp(180px,14.79vw,244px);
  transform: rotate(180deg);
}
.blog-sec-pattern>img{
  width: 100%;
  height: auto;
  object-fit: contain;
}
/* RESPONSIVE */
@media (max-width: 992px) {
  .blog-title {
    font-size: 32px;
    max-width: 100%;
  }

  .blog-card {
    max-width: 100%;
  }

  .blog-shape {
    display: none;
  }
}

@media (max-width: 576px) {
  .blog-name {
    font-size: 20px;
  }
}




.footer-sec {
 padding-top: 60px;
}

/* NEWSLETTER */
.newsletter-sec {
  padding: 60px 0 100px;
}

.newsletter-subtitle {
  color: var(--theme-color);
  /* display: inline-flex; */
  align-items: center;
  font-size: 16px;
  font-weight:700;
  margin-bottom: 30px;
}

.newsletter-wrap> .title2 {
  margin: 0 auto;
  margin-bottom: 90px;
  max-width: 363px;
  
}

.newsletter-form {
  max-width: 653px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
}

.newsletter-form input {
  flex: 1;
  background: transparent;
  border: none;
  color: #fff;
  padding: 12px 0;
}

.newsletter-form input::placeholder {
  color: #ffffff;
}

.newsletter-form button {
  background: none;
  border: none;
  color: #fff;
  letter-spacing: 1px;
}

/* FOOTER MAIN */
.footer-main>.container {
  padding: 60px 0;
  border-block: 1px solid rgba(255,255,255,0.2);
}
.footer-brand{max-width: 400px;padding: 0 12px;}
/* LOGO */
.footer-logo {
  margin-bottom: 50px;
}

.footer-logo span {
  color: var(--primary-color);
}

.footer-text {
  color: #ffffff;
  opacity: 50%;
  margin-bottom: 50px;
}

.footer-phone{
  display: flex;
  align-items: center;
}
.phone-number {
  font-size: 18px;
}
.phone-logo{
  margin-right: 14px;
}
.phone-label {
  color: var(--theme-color);
  font-size: 10px;
  margin-top: 10px;
}

/* COLUMNS */
.footer-heading {
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  width: fit-content;
}
.footer-heading::after{
  content: "";
  position: absolute;
  top: 50%;right: -15px;
  transform: translateY(-30%);
  width: 10px;
  height: 10px;
  background: var(--theme-color);
}


.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding: 10px 0 15px;
  color: #ffffff;
  font-size: 19px;
}

.footer-main .footer-col{
  padding-inline: 30px;
}

/* CONTACT */
.footer-contact {
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-email {
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-phone2 {
  color: var(--theme-color);
  margin-bottom: 30px;
}

/* SOCIAL */
.footer-social {
  display: flex;
  gap: 10px;
}

.footer-social a {
  width: 44px;
  height: 44px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social a i{
  color: #fff;
}
.footer-social a:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}
.copywrite{
  padding-block: 30px;
  width: fit-content;
  margin: 0 auto;
  font-size: 16px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .footer-main .row > div {
    margin-bottom: 40px;
  }

  .newsletter-title {
    font-size: 30px;
  }
}
